@charset "UTF-8";
body {
  font-family: "Times New Roman", Times, serif;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
}

#loading-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 1;
  transition: 4s;
  z-index: 15000;
}

#loading-screen.fade-out {
  opacity: 0;
}

#loading-text {
  color: black;
  font-size: 20px;
  letter-spacing: 5px;
  opacity: 0;
  writing-mode: vertical-rl;
  transition: 5s;
}
@media screen and (min-width: 768px) {
  #loading-text {
    font-size: 24px;
  }
}

#loding-spacer {
  margin: 20px;
}

/* ハンバーガー */
/* ハンバーガーメニュークリック前 */
/* クリックエリアと位置を指定 ---------------------- */
.btnHamburger {
  position: fixed;
  z-index: 10000;
  top: 40px;
  right: 40px;
  width: 40px; /* クリックエリアの横幅*/
  height: 20px; /* クリックエリアの高さ*/
  cursor: pointer;
}
@media screen and (min-width: 768px) {
  .btnHamburger {
    width: 70px;
    height: 50px;
    right: 60px;
  }
}
@media screen and (min-width: 1025px) {
  .btnHamburger {
    display: none;
  }
}

/* 3本線の1本ごとに共通するスタイルを指定 ---------------------- */
.btnHamburger .line {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 40px; /* 横幅 */
  height: 2px; /* 1本辺りの高さ */
  background: #676262; /* 線の色 */
  /* 適用するプロパティ、変化する時間、変化する速度 */
  /* -webkit-transition: all 0.3s ease-out; */
  transition: 0.3s;
}
@media screen and (min-width: 768px) {
  .btnHamburger .line {
    width: 70px;
    height: 3px;
  }
}

/* 3本線の各線の位置を指定 ---------------------- */
.btnHamburger .line_01 {
  top: 0px;
}

.btnHamburger .line_02 {
  top: 8px;
}
@media screen and (min-width: 768px) {
  .btnHamburger .line_02 {
    top: 23px;
  }
}

.btnHamburger .line_03 {
  top: 16px;
}
@media screen and (min-width: 768px) {
  .btnHamburger .line_03 {
    top: 46px;
  }
}

/* ハンバーガーメニュークリック後 */
.btnHamburger.is-active .line_01 {
  top: 8px; /* 上から2番目の線の位置に変更 */
  /* 線を45度回転 */
  /* -webkit-transform: rotate(45deg); */
  transform: rotate(45deg);
}

/* 上から2番目の線のスタイル ---------------------- */
.btnHamburger.is-active .line_02 {
  opacity: 0; /* 不透明度を下げて線を消す */
}

/* 最下部の線のスタイル ---------------------- */
.btnHamburger.is-active .line_03 {
  top: 8px; /* 上から2番目の線の位置に変更 */
  /* 線を135度回転 */
  transform: rotate(135deg);
}

/* クリック前 */
nav {
  position: fixed;
  top: 60px;
  left: -100%;
  width: 100%;
  opacity: 0;
  transition: 0.5s;
}
@media screen and (min-width: 1025px) {
  nav ul {
    display: flex;
    justify-content: space-around;
  }
}
nav ul li {
  width: 16.6%;
  text-align: center;
}
nav ul li a {
  color: #554a45;
}
@media screen and (min-width: 768px) {
  nav ul li a {
    font-size: 25px;
  }
}
@media screen and (min-width: 1025px) {
  nav ul li a {
    display: block;
    font-size: 20px;
  }
  nav ul li a:hover {
    opacity: 0.7;
    transition: 0.3s;
  }
}
@media screen and (min-width: 768px) {
  nav {
    font-size: 25px;
    margin-top: 200px;
  }
}
@media screen and (min-width: 1025px) {
  nav {
    opacity: 1;
    position: fixed;
    top: 0%;
    left: 0%;
    z-index: 1000;
    line-height: 100px;
    background: #fff;
    margin: 0 auto;
    width: 100%;
  }
}

#coverlayer {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  width: 1px;
  opacity: 0;
  background: #c6b5b0;
  transition: 0.5s;
  z-index: 11;
}

/* クリック後 */
nav.is-active {
  left: 0;
  opacity: 1;
  color: #554a45;
  text-align: center;
  display: block;
}
nav.is-active ul li {
  padding: 40px 0;
}

.btnHamburger p {
  font-size: 8px;
  margin-top: 5px;
  color: #000;
  position: absolute;
  top: 120%;
  left: 20%;
}
@media screen and (min-width: 768px) {
  .btnHamburger p {
    top: 110%;
    left: 35%;
  }
}

#coverlayer.is-active {
  width: 100%;
  opacity: 1;
}

.scr-target {
  opacity: 0;
  transform: translate3d(0, 30px, 0);
}

.scr-target.is-active {
  opacity: 1;
  transform: translate3d(0, 0, 0);
  transition: 2s;
}

header {
  position: fixed;
  height: 50px;
  z-index: 1000;
}

header h1 {
  position: fixed;
  top: 3%;
  left: 3%;
}
@media screen and (min-width: 768px) {
  header h1 {
    left: 48%;
    width: 30px;
  }
}
@media screen and (min-width: 1025px) {
  header h1 {
    z-index: 2000;
  }
}

.top-main {
  position: relative;
  z-index: -10;
  height: auto;
  max-width: 100%;
}
@media screen and (min-width: 768px) {
  .top-main {
    height: 100vh;
  }
}
@media screen and (min-width: 1025px) {
  .top-main {
    width: 100vw;
    height: auto;
    padding-top: 100px;
  }
}

h2 {
  writing-mode: vertical-rl;
  font-size: 20px;
  color: #fff;
  position: absolute;
  top: 25%;
  left: 48%;
  z-index: 100;
  text-shadow: 0 0 5px #fff;
}
@media screen and (min-width: 768px) {
  h2 {
    margin-top: 50px;
    font-size: 30px;
  }
}
@media screen and (min-width: 1025px) {
  h2 {
    font-size: 1.4em;
    margin-top: 6%;
  }
}

h2 span {
  margin: 20px 0;
}

#top-slider {
  position: relative;
  width: 100%;
  height: 631px;
  overflow: hidden;
}
@media screen and (min-width: 768px) {
  #top-slider {
    height: 100vh;
  }
}
.slide-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  opacity: 0;
  transition: opacity 2s ease; /* 0.5秒でフェードイン・アウト */
}
.section-title {
  display: flex;
  justify-content: center;
  margin: 10% 0;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .section-title {
    margin: 10% auto;
  }
}
@media screen and (min-width: 1025px) {
  .section-title {
    margin: 5% 0;
  }
}
.section-title img {
  width: 50px;
  padding: 0 5px;
}
.section-title h3 {
  font-size: 21px;
  color: #554a45;
}
@media screen and (min-width: 768px) {
  .section-title h3 {
    font-size: 30px;
  }
}
@media screen and (min-width: 1025px) {
  .section-title h3 {
    margin: 0;
  }
}

#CONCEPT {
  overflow: hidden;
}
#CONCEPT p {
  text-align: center;
  font-size: 14px;
  color: #2a231f;
  line-height: 2;
}
#CONCEPT span {
  display: block;
  margin: 50px auto;
  background: #2a231f;
  width: 22px;
  height: 2px;
}
#CONCEPT img {
  margin: 20px 0;
}
@media screen and (min-width: 768px) {
  #CONCEPT img {
    margin: 0;
    height: auto;
  }
}
@media screen and (min-width: 768px) {
  #CONCEPT #concept-title {
    font-size: 25px;
  }
}
@media screen and (min-width: 1025px) {
  #CONCEPT #concept-title {
    font-size: 1.4em;
  }
}
@media screen and (min-width: 768px) {
  #CONCEPT #concept-text {
    font-size: 16px;
  }
}
@media screen and (min-width: 1025px) {
  #CONCEPT #concept-text {
    font-size: 1em;
  }
}
@media screen and (min-width: 768px) {
  #CONCEPT br:not(#not) {
    display: none;
  }
}

#choco1 {
  width: 100vh;
}

#HISTORY {
  position: relative;
}
@media screen and (max-width: 767px) {
  #HISTORY {
    overflow: hidden;
  }
}
@media screen and (min-width: 768px) {
  #HISTORY {
    overflow: hidden;
  }
}
@media screen and (min-width: 1025px) {
  #HISTORY {
    height: 1800px;
  }
}
#HISTORY .history-flex {
  display: block;
}
@media screen and (min-width: 1025px) {
  #HISTORY .history-flex {
    display: flex;
  }
}
#HISTORY .face-and-copy {
  padding-top: 10%;
}

#history-text1-wrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: 5%;
}
@media screen and (min-width: 1025px) {
  #history-text1-wrapper {
    display: block;
    margin-top: 20%;
    margin-bottom: 10%;
  }
}

#history_img {
  width: 347px;
}
@media screen and (min-width: 768px) {
  #history_img {
    width: 80%;
  }
}
@media screen and (min-width: 1025px) {
  #history_img {
    width: 40%;
    margin-left: 10%;
  }
}

#history-text-wrapper {
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  margin: 0 auto;
  width: 360px;
}
@media screen and (min-width: 768px) {
  #history-text-wrapper {
    width: 668px;
  }
}
@media screen and (min-width: 1025px) {
  #history-text-wrapper {
    margin-left: 5%;
    width: 70%;
  }
}

.history-text1 {
  font-size: 12px;
  line-height: 2.5;
}
@media screen and (min-width: 768px) {
  .history-text1 {
    font-size: 1.3em;
    margin-right: auto;
  }
}
@media screen and (min-width: 1025px) {
  .history-text1 {
    font-size: 1em;
    text-align: start;
    margin-right: 0;
  }
}

@media screen and (min-width: 1025px) {
  .history-text1-right {
    font-size: 1em;
    margin-left: 5%;
  }
}

#history-text2 {
  text-align: start;
  font-size: 11px;
  line-height: 2;
}
@media screen and (min-width: 768px) {
  #history-text2 {
    font-size: 1.3em;
  }
  #history-text2 br {
    display: none;
  }
}
@media screen and (min-width: 1025px) {
  #history-text2 {
    font-size: 1em;
    width: 90%;
    line-height: 2.5;
  }
}

#history-text3 {
  font-size: 13px;
  text-align: center;
  color: #2a131f;
  margin-top: 350px;
  line-height: 2;
}
@media screen and (min-width: 768px) {
  #history-text3 {
    font-size: 16px;
    margin-top: 520px;
    margin-bottom: 100px;
    width: 700px;
    margin-right: auto;
    margin-left: auto;
    letter-spacing: 2px;
  }
}
@media screen and (min-width: 1025px) {
  #history-text3 {
    position: absolute;
    top: 4000%;
    left: 28%;
  }
}
@media screen and (min-width: 768px) {
  #history-text3 br {
    display: none;
  }
}

#copy {
  display: flex;
  margin-left: 15%;
}
@media screen and (min-width: 768px) {
  #copy {
    margin-left: 20%;
  }
}
@media screen and (min-width: 1025px) {
  #copy {
    height: 900px;
    position: absolute;
    top: 50%;
    left: 0%;
  }
}
#copy p {
  writing-mode: vertical-rl;
  margin: 0 15px;
  font-size: 20px;
  font-family: "hina-mincho", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #554a45;
  letter-spacing: 0.7em;
}
@media screen and (min-width: 768px) {
  #copy p {
    font-size: 22px;
    margin-top: 100px;
  }
}
@media screen and (min-width: 1025px) {
  #copy p {
    font-size: 1.8em;
  }
}
#copy :first-child {
  margin-top: 200px;
}

#side-face {
  position: absolute;
  top: 65%;
  right: -80px;
  width: 500px;
}
@media screen and (min-width: 768px) {
  #side-face {
    width: 90%;
    top: 60%;
    right: -10%;
  }
}
@media screen and (min-width: 1025px) {
  #side-face {
    width: 60%;
    top: 50%;
    left: 35%;
  }
}

#blur1 {
  position: absolute;
  width: 80%;
  top: 85%;
  left: -30%;
  z-index: -10000;
}
@media screen and (min-width: 768px) {
  #blur1 {
    top: 55%;
    left: -10%;
  }
}
@media screen and (min-width: 1025px) {
  #blur1 {
    width: 80%;
    top: 40%;
    left: -10%;
  }
}

#PRODUCT {
  height: 800px;
}
@media screen and (min-width: 768px) {
  #PRODUCT {
    height: 700px;
    margin-bottom: 550px;
  }
}
@media screen and (min-width: 1025px) {
  #PRODUCT {
    height: 1000px;
    margin-bottom: 10%;
  }
}
#PRODUCT p {
  text-align: center;
  color: #2a231f;
  font-size: 14px;
  line-height: 1.3;
}
@media screen and (min-width: 768px) {
  #PRODUCT p {
    font-size: 14px;
    width: 600px;
    margin: -20px auto 0;
    line-height: 30px;
  }
}
@media screen and (min-width: 768px) {
  #PRODUCT p br {
    display: none;
  }
}
#PRODUCT h4 {
  font-size: 18px;
  color: #000;
  text-align: center;
  margin-top: 70px;
}
@media screen and (min-width: 768px) {
  #PRODUCT h4 {
    font-size: 22px;
    letter-spacing: 3px;
    margin-top: 350px;
    margin-bottom: 50px;
  }
}

#product-image-wrapper {
  height: 393px;
  position: relative;
  margin-bottom: 20px;
}

#product-box {
  width: 215px;
  position: absolute;
  z-index: 10;
  top: 10%;
  left: 10%;
}
@media screen and (min-width: 768px) {
  #product-box {
    width: 364px;
    top: 30%;
    left: 10%;
  }
}
@media screen and (min-width: 1025px) {
  #product-box {
    left: 30%;
    top: 35%;
  }
}

#choco-product {
  width: 320px;
  position: absolute;
  z-index: 10;
  top: 30%;
  left: 15%;
}
@media screen and (min-width: 768px) {
  #choco-product {
    width: 458px;
    top: 60%;
    left: 36%;
  }
}
@media screen and (min-width: 1025px) {
  #choco-product {
    top: 65%;
  }
}

#blur {
  position: absolute;
  width: 100%;
  z-index: 2;
  top: 10%;
  left: 0%;
}
@media screen and (min-width: 1025px) {
  #blur {
    top: 15%;
    left: 20%;
    width: 70%;
  }
}

#contents {
  height: 32px;
  border: 0.5px solid #000;
  width: 65px;
  border-radius: 30px;
  font-size: 12px;
  text-align: center;
  line-height: 2.8;
}
@media screen and (min-width: 768px) {
  #contents {
    width: 150px;
    border-radius: 15px;
    font-size: 12px;
    margin-top: -20px;
    margin-left: 2px;
  }
}
@media screen and (min-width: 1025px) {
  #contents {
    margin-left: 0;
  }
}

#prace {
  height: 32px;
  border: 0.5px solid #000;
  width: 65px;
  border-radius: 30px;
  font-size: 12px;
  text-align: center;
  line-height: 2.8;
}
@media screen and (min-width: 768px) {
  #prace {
    width: 150px;
    font-size: 12px;
    margin-top: -15px;
    border-radius: 15px;
  }
}

#choco-desc-wrapper {
  margin: 30px auto;
  width: 283px;
}
#choco-desc-wrapper img {
  width: 65px;
}

.choco-desc {
  display: flex;
  align-items: center;
  margin-top: 20px;
}
.choco-desc p {
  margin-left: 20px;
}
@media screen and (min-width: 768px) {
  .choco-desc p {
    margin-top: 50px;
  }
}

#LINEUP p {
  color: #2a231f;
  text-align: center;
  line-height: 2;
}
@media screen and (min-width: 1025px) {
  #LINEUP p {
    margin-top: 10px;
  }
}

#lineup-title {
  font-size: 14px;
}
@media screen and (min-width: 768px) {
  #lineup-title {
    font-size: 16px;
    letter-spacing: 2px;
    margin-top: -90px;
    margin-bottom: 80px;
  }
}
@media screen and (min-width: 1025px) {
  #lineup-title {
    font-size: 20px;
  }
}

#lineup-wrapper {
  padding: 15px;
}
@media screen and (min-width: 768px) {
  #lineup-wrapper {
    display: flex;
    justify-content: center;
    margin: 0 auto;
  }
}
@media screen and (min-width: 1025px) {
  #lineup-wrapper {
    justify-content: center;
    align-items: center;
  }
}

.top-items {
  display: flex;
  justify-content: space-around;
}
@media screen and (min-width: 1025px) {
  .top-items {
    width: 35%;
  }
}

.bottom-items {
  display: flex;
  justify-content: space-around;
}
@media screen and (min-width: 1025px) {
  .bottom-items {
    width: 35%;
  }
}

.left-items img {
  width: 150px;
  display: block;
  margin: 0 auto;
}
@media screen and (min-width: 1025px) {
  .left-items img {
    width: 200px;
    align-items: center;
  }
}

.right-items img {
  width: 150px;
  display: block;
  margin: 0 auto;
}
@media screen and (min-width: 1025px) {
  .right-items img {
    width: 200px;
  }
}

.lineup-item-title {
  width: 180px;
}

.lineup-title {
  font-size: 0.6em;
}

.prace-spacing {
  margin-left: 40px;
  font-size: 10px;
}
@media screen and (min-width: 768px) {
  .prace-spacing {
    margin: 0;
  }
}
@media screen and (min-width: 1025px) {
  .prace-spacing {
    font-size: 16px;
  }
}

.gift-left {
  margin: 0 auto;
}
@media screen and (min-width: 1025px) {
  .gift-left {
    margin-left: 20%;
  }
}

.gift-right {
  margin: 0 3% auto 0;
  margin-top: 8px;
}
@media screen and (min-width: 1025px) {
  .gift-right {
    margin-right: 20%;
  }
}

#gift-cap {
  text-align: center;
  font-size: 10px;
  line-height: 2.5;
}
@media screen and (min-width: 768px) {
  #gift-cap {
    font-size: 16px;
    margin-top: -40px;
    margin-bottom: 20px;
  }
}
#gift-nomal {
  width: 100%;
  display: block;
  margin: 0 auto;
}
@media screen and (min-width: 768px) {
  #gift-nomal {
    width: 65%;
  }
}

#gift-red {
  width: 100%;
  display: block;
  margin: 0 auto;
}
@media screen and (min-width: 768px) {
  #gift-red {
    width: 65%;
  }
}

.gift-item-title {
  width: 164px;
  margin: 0 auto;
}
@media screen and (min-width: 768px) {
  .gift-item-title {
    width: 250px;
  }
}
.gift-item-title .gift-title {
  font-size: 10px;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .gift-item-title .gift-title {
    font-size: 18px;
    margin-bottom: -10px;
  }
}

.gift-wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.gift-prace-spacing {
  font-size: 10px;
  margin-left: 60px;
}
@media screen and (min-width: 768px) {
  .gift-prace-spacing {
    font-size: 16px;
    margin-top: 2px;
  }
}

#detail {
  text-align: center;
  font-size: 12px;
  color: #554a45;
  margin-top: 50px;
  margin-bottom: 30px;
  display: block;
}
@media screen and (min-width: 768px) {
  #detail {
    font-size: 18px;
  }
}
@media screen and (min-width: 1025px) {
  #detail:hover {
    opacity: 0.7;
    transition: 0.3s;
  }
}

#TOPICS {
  position: relative;
}

#topics-cap {
  text-align: center;
  font-size: 10px;
  margin-top: -20px;
}
@media screen and (min-width: 768px) {
  #topics-cap {
    font-size: 18px;
    margin-top: -40px;
    margin-bottom: 80px;
  }
}

/* ↓ スライドの外枠 */
.slide-wrapper {
  width: 300px;
  height: 424px;
  margin: 30px auto;
  overflow: hidden; /* はみ出したスライドを隠す */
  box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.5);
}
@media screen and (min-width: 768px) {
  .slide-wrapper {
    width: 400px;
    height: 524px;
  }
}

/*  ↓ スライド（コンテンツ） */
.slide {
  /*スライド全体 */
  width: 300%;
  height: 100%;
  display: flex;
  transition: all 0.3s;
  position: relative;
}

.slide div {
  /* スライド */
  width: 33.33%;
  height: 100%;
  position: relative;
  display: block;
  text-align: center;
  justify-content: center;
  align-items: start;
}
.slide div img {
  width: 300px;
  height: auto;
  display: block;
}
@media screen and (min-width: 768px) {
  .slide div img {
    width: 400px;
  }
}

.slide1 {
  /* スライドさせるために必要なクラス */
  transform: translateX(0);
}

.slide2 {
  /* スライドさせるために必要なクラス */
  transform: translateX(-33.33%);
}

.slide3 {
  /* スライドさせるために必要なクラス */
  transform: translateX(-66.66%);
}

.slide4 {
  /* スライドさせるために必要なクラス */
  transform: translateX(-99.99%);
}

.slide div:nth-of-type(1) {
  /* 背景色 */
  background-color: #fff;
}

.slide div:nth-of-type(2) {
  /* 背景色 */
  background-color: #fff;
}

.slide div:nth-of-type(3) {
  /* 背景色 */
  background-color: #fff;
}

.slide div:nth-of-type(4) {
  /* 背景色 */
  background-color: #fff;
}

/* ↓ 左右のボタン */
.next {
  position: absolute;
  width: 30px;
  height: 30px;
  right: 1%;
  bottom: 45%;
  z-index: 10;
  cursor: pointer;
  color: #554a45;
  font-size: 23px;
}
@media screen and (min-width: 768px) {
  .next {
    font-size: 50px;
    right: 10%;
  }
}

.prev {
  position: absolute;
  width: 30px;
  height: 30px;
  left: 3%;
  bottom: 45%;
  z-index: 10;
  cursor: pointer;
  color: #554a45;
  font-size: 23px;
}
@media screen and (min-width: 768px) {
  .prev {
    font-size: 50px;
    left: 10%;
  }
}

/* ↓ インジケーター */
.indicator {
  display: flex;
  -moz-column-gap: 18px;
       column-gap: 18px;
  z-index: 10;
  justify-content: center;
  align-items: center;
}

.indicator li {
  width: 9px;
  height: 9px;
  border-radius: 50%;
  list-style: none;
  background-color: #d9d9d9;
  margin-top: 5%;
  cursor: pointer;
}

.indicator li:first-of-type {
  background-color: #554a45;
}

.slider-date {
  display: block;
  position: absolute;
  top: 85%;
  left: 5%;
  font-size: 10px;
}
@media screen and (min-width: 768px) {
  .slider-date {
    top: 90%;
  }
}

.slider-text {
  display: block;
  text-align: center;
  font-size: 12px;
  position: absolute;
  top: 90%;
  left: 17%;
}
@media screen and (min-width: 768px) {
  .slider-text {
    top: 92.5%;
    left: 26%;
  }
}

.chart {
  width: 167px;
  margin: 70px auto 0 auto;
  background: #a4948f;
  color: #fff;
  text-align: center;
  line-height: 36px;
  border-radius: 20px;
  font-size: 10px;
}
@media screen and (min-width: 768px) {
  .chart {
    width: 200px;
    height: 60px;
    font-size: 25px;
    line-height: 58px;
    border-radius: 30px;
    margin-top: 100px;
  }
}
.chart a {
  color: #fff;
  display: block;
  cursor: pointer;
  font-size: 12px;
}
@media screen and (min-width: 768px) {
  .chart a {
    font-size: 20px;
    margin-bottom: -100px;
  }
}
@media screen and (min-width: 1025px) {
  .chart a:hover {
    opacity: 0.7;
    transition: 0.3s;
  }
}

#movie {
  width: 355px;
  margin: 0 auto;
  line-height: 237px;
  border: 1px solid #000;
  text-align: center;
}

iframe {
  display: block;
  width: 95%;
  height: 395px;
  margin: 0 auto;
}
@media screen and (min-width: 768px) {
  iframe {
    display: inline;
    width: 50%;
    margin-left: 20px;
  }
}
@media screen and (min-width: 1025px) {
  iframe {
    position: absolute;
    left: 10%;
    width: 50%;
    height: 500px;
  }
}

@media screen and (min-width: 768px) {
  #ACCESS {
    position: relative;
  }
}
@media screen and (min-width: 1025px) {
  #ACCESS {
    padding-bottom: 45%;
  }
}
#ACCESS #sibuya-honten {
  width: 130px;
  line-height: 41px;
  border: 0.8px solid #000;
  border-radius: 10px;
  text-align: center;
  font-size: 16px;
  margin-top: 20px;
  margin-left: 40px;
}
@media screen and (min-width: 768px) {
  #ACCESS #sibuya-honten {
    font-size: 18px;
    position: absolute;
    top: 40%;
    left: 55%;
  }
}
@media screen and (min-width: 1025px) {
  #ACCESS #sibuya-honten {
    font-size: 20px;
    width: 128px;
    line-height: 52px;
    top: 30%;
    left: 65%;
  }
}
#ACCESS p {
  font-size: 16px;
  line-height: 2;
}
#ACCESS #access-line {
  width: 330px;
  background: #000;
  height: 0.8px;
  display: block;
  margin: 10px auto;
}
#ACCESS #access-text-wrapper {
  margin: 30px auto 0 auto;
  width: 330px;
}
@media screen and (min-width: 768px) {
  #ACCESS #access-text-wrapper {
    position: absolute;
    top: 55%;
    left: 60%;
  }
}
@media screen and (min-width: 1025px) {
  #ACCESS #access-text-wrapper {
    left: 67%;
    top: 40%;
  }
}

#CONTACT #contact-text {
  font-size: 10px;
  color: #554a45;
  text-align: center;
  line-height: 1.5;
}
@media screen and (min-width: 768px) {
  #CONTACT #contact-text {
    font-size: 18px;
    letter-spacing: 1.5px;
    line-height: 2;
    margin-bottom: 100px;
  }
}
#CONTACT #contact-icon {
  display: flex;
  justify-content: space-between;
  width: 158px;
  margin: 40px auto;
}
#CONTACT #contact-icon a img {
  width: 40px;
}
#CONTACT article h5 {
  text-align: center;
  font-size: 16px;
  color: #554a45;
  margin-bottom: 30px;
}
@media screen and (min-width: 768px) {
  #CONTACT article h5 {
    letter-spacing: 2px;
    margin-bottom: 70px;
  }
}
#CONTACT article section {
  width: 298px;
  margin: 0 auto;
}
#CONTACT article section form dl p {
  margin-bottom: 5px;
  margin-top: 20px;
  font-size: 10px;
  color: #554a45;
}
@media screen and (min-width: 768px) {
  #CONTACT article section form dl p {
    font-size: 18px;
    margin-left: -120px;
  }
}
#CONTACT article section form dl input {
  display: block;
  width: 298px;
  height: 40px;
  border: 1px solid #85776b;
  background: #d2cdc8;
}
@media screen and (min-width: 768px) {
  #CONTACT article section form dl input {
    width: 600px;
    margin-left: -140px;
  }
}
#CONTACT article section form dl textarea {
  display: block;
  height: 170px;
  width: 298px;
  border: 1px solid #85776b;
  background: #d2cdc8;
}
#CONTACT article section form dl textarea::-moz-placeholder {
  color: #888481;
  font-size: 10px;
  padding: 5px 0 0 5px;
}
#CONTACT article section form dl textarea::placeholder {
  color: #888481;
  font-size: 10px;
  padding: 5px 0 0 5px;
}
@media screen and (min-width: 768px) {
  #CONTACT article section form dl textarea {
    width: 600px;
    margin-left: -140px;
  }
}
#CONTACT article section form #submit-button {
  display: block;
  width: 121px;
  height: 35px;
  border-radius: 20px;
  border: 1px solid #85776b;
  background: #d2cdc8;
  margin: 50px auto 40px auto;
}
@media screen and (min-width: 768px) {
  #CONTACT article section form #submit-button {
    margin: 120px auto;
    font-size: 25px;
    width: 170px;
    height: 60px;
    border-radius: 30px;
    letter-spacing: 2px;
  }
}

.box-shadow {
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
}

footer {
  height: 120px;
  background: #d2cdc8;
  color: #554a45;
}

footer img {
  display: block;
  width: 74px;
  margin: 0 auto;
  padding: 15px;
}

#add {
  margin-top: 5px;
  margin-bottom: 3px;
}

#tel {
  margin-bottom: 15px;
}

footer p {
  font-size: 10px;
  text-align: center;
}

footer small {
  display: block;
  font-size: 8px;
  text-align: center;
  padding-bottom: 10px;
}

#back {
  width: 27px;
  height: 27px;
  background: #554a45;
  border-radius: 9999px;
  position: fixed;
  top: 84%;
  left: 90%;
  z-index: 1000;
  display: block;
  transition: 1s;
  opacity: 0;
}

#triangle {
  border-right: 9px solid transparent;
  border-bottom: 15px solid #fff;
  border-left: 9px solid transparent;
  position: absolute;
  z-index: 1000;
  top: 20%;
  left: 17%;
}

#back-text {
  font-size: 8px;
  color: #554a45;
  position: absolute;
  top: 110%;
  left: 20%;
}/*# sourceMappingURL=style.css.map */